.hadith-card{
    background-color: white;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 25px;
}
.Narrated{
    color: #4a8963;
}
.links{
    margin: 5px;
    padding: 5px;
}
.refrence{
    padding-top: 30px;
}
.hadith{
        font-family: 'Noto Sans Arabic', sans-serif;
        font-weight: 500;
        font-size: 24px;
 
}
.logo{
    height: 75px;
    width: 75px;
    border-radius: 30px;
}
.link{
    text-decoration: none;
    padding: 3px;
    color: #4a8963;
}
.stars{
    color: #FBBC00
}
.sidePanelContainer{
    padding: 40px;
    color: white;
    border-radius: 12px;
    background-color: #4a8963;
    position: fixed;
    left: 10px !important;
    top: 23%;
}

  
